{% macro render_blog_post(post, from_index=false) %}
<div class="post">
  <h2>{{ post.title }}</h2>
  <p class="meta">
    {% if post.author %}
    written by
    {% if post.twitter_handle %}
    <a href="https://twitter.com/{{ post.twitter_handle
      }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
    {{ post.author }}
    {% endif %}
    {% endif %}
    {{ post.pub_date }}
  </p>
  {{ post.body }}

  <div class="flex">
    <a style="margin-left: auto" href="..">목록으로 돌아가기 </a>
  </div>
</div>
{% endmacro %}
