{% extends "layout.html" %}
{% set posts = site.get('/posts') %}
{% set notes = site.get('/notes') %}
{% set all =  posts.children.all() + notes.children.all()  %}
{% from "macros/link.html" import render_link %}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <h2>{{ this.title }}</h2>
  {{ this.body }}

  <h3 style="margin-bottom: 10px;">최근 작성한 글</h3>
  <ul style="margin-top: 5px;">
    {% for child in (all|sort(attribute='pub_date', reverse=True))[:3] %}
    {{ render_link(child) }}
    {% endfor %}
  </ul>
{% endblock %}
