body {
    font-family: 'Spoqa Han Sans', sans-serif;
    line-height: 150%;
    margin: 50px 25px;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 87%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

img {
  width: 100%;
}

header, footer {
    max-width: 760px;
    min-width: 200px;
    margin: 0 auto;
    background: #daeef3;
    padding: 20px 30px;
}

div.page  {
    max-width: 760px;
    min-width: 200px;
    margin: 0 auto;
    background: #ffffff;
    padding: 5px 20px 20px 20px;
}

div.page.ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 30px;
}

header h1 {
    color: #169bbd;
    margin: 10;
    font-weight: normal;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}
